/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.idea/workspace.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/bower_components
/public
.env
/v8-compile-cache-0
/data/data
